aiohttp==3.7.3
amqp==2.6.1
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
billiard==3.6.3.0
boto3==1.12.5
botocore==1.15.5
bs4==0.0.1
cached-property==1.5.2
cachetools==4.1.1
celery==4.4.2
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.3
cloudpickle==1.3.0
colorama==0.4.4
confluent-kafka==1.0.0
curlify==2.2.1
dataclasses==0.8
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.2
Django==2.2
django-allauth==0.41.0
django-cors-headers==3.2.1
django-filter==2.1.0
django-rest-auth==0.9.5
django-ses==1.0.2
django-tracking2==0.5.0
django-user-agents==0.3.2
djangorestframework==3.9.2
djangorestframework-simplejwt==4.4.0
docutils==0.14
facebook-business==11.0.0
filelock==3.0.12
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
geoip2==2.9.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
googleads==26.0.0
greenlet==1.1.2
gunicorn==20.1.0
hyperopt==0.2.2
idna==2.9
idna-ssl==1.1.0
importlib-metadata==2.0.0
importlib-resources==5.2.2
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.9.4
kafka-python==1.4.6
keyboard==0.13.5
klaviyo==3.0.2
kombu==4.6.11
lxml==4.6.1
Markdown==3.1
MarkupSafe==2.0.1
maxminddb==1.5.2
MouseInfo==0.1.3
multidict==5.1.0
networkx==2.2
numpy==1.17.2
oauthlib==3.1.0
pandas==1.1.5
Pillow==8.1.0
platformdirs==2.2.0
pretty-html-table==0.9.11
psycopg2==2.8.2
pyactiveresource==2.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycountry==20.7.3
pycryptodome==3.10.1
pycryptodomex==3.10.4
PyGetWindow==0.0.9
PyJWT==1.7.1
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-crontab==2.5.1
python-dateutil==2.8.0
python-decouple==3.3
python-dotenv==0.19.2
python-memcached==1.59
python3-openid==3.1.0
PyTweening==1.0.3
pytz==2019.1
PyYAML==5.1
requests==2.23.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.6
s3transfer==0.3.3
scipy==1.4.1
sentry-sdk==0.18.0
ShopifyAPI==8.0.0
simplejson==3.17.2
six==1.14.0
snowplow-analytics-sdk==0.2.3
soupsieve==2.2.1
SQLAlchemy==1.4.27
sqlparse==0.3.0
tldextract==2.2.3
tqdm==4.43.0
typing-extensions==3.7.4.3
ua-parser==0.8.0
urllib3==1.24.3
user-agents==2.0
validators==0.18.2
vine==1.3.0
virtualenv==20.7.2
Werkzeug==2.0.2
WooCommerce==3.0.0
xlrd==1.2.0
xmltodict==0.12.0
yarl==1.6.3
zeep==4.0.0
zipp==3.4.0
