{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="col-4">
  <br><br><br>
    <div class="card shadow-lg">
        <h4 class="card-header text-center bg-dark text-white">Dashboard - Login</h4>
        {% if msg %}
          <div class="card-header alert alert-danger m-2" role="alert">
            {{ msg }}
          </div>
        {% endif %}
        <div class="card-body">
            <form action="/" method="POST">
                <div class="col">
                    <label for="inputName" class="p-2">User Name</label>
                    <input type="text" class="form-control" placeholder="Enter Username/Email" name="username">
                  </div>
                  <div class="col">
                    <label for="inputLastname" class="p-2">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="******" name="password">
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success form-control">Submit</button>
                    </div>
                    <div class="col-md-6">
                      <a href="/register" title="Delete"><button class="btn btn-warning form-control" type="button">Not a User? Register</button></a>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}